.menu{
    /*margin-right: 1px;*/
    word-spacing: 15px;
    font-size: 30px;
    background-color: chocolate;
}
.joyeria{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50%;
    /*display: flex;*/
}
.menu-boton{
    font-size: 25px;
    border-radius: 100px;
    background-color: rgb(11, 184, 118);
}
.salida{
    font-size: 25px;
    border-radius: 100px;
    background-color: rgb(46, 184, 11);
}